<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Sign In</mat-card-title>
      <mat-card-subtitle>Welcome to Campus Exchange</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm" [formGroup]="form">
        <div class="form-fields">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error>
              @if (
                (form.controls.email.touched || loginForm.submitted) &&
                form.controls.email.invalid
              ) {
                Email is required
              }
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            <mat-error>
              @if (
                (form.controls.password.touched || loginForm.submitted) &&
                form.controls.password.invalid
              ) {
                Password is required
              }
            </mat-error>
          </mat-form-field>
        </div>

        @if (error(); as error) {
          <div class="error-message">
            {{ error }}
          </div>
        }

        <div class="actions">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="loading() || !loginForm.form.valid"
          >
            @if (loading()) {
              <mat-spinner diameter="20"></mat-spinner>
            } @else {
              Login
            }
          </button>

          <a
            mat-button
            type="button"
            routerLink="/signup"
            [disabled]="loading()"
          >
            Need an account? Sign Up
          </a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
